name: Test CI

on: [push, pull_request]

jobs:
  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3

      - name: Install pnpm package manager
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Check for lint issues
        run: pnpm lint

      - name: Build project
        run: pnpm build
#
#      - name: Run tests
#        run: pnpm test